.starting {
    margin: 10rem auto;
    text-align: center;
    color: #82C17A;
  text-decoration: none;
    
  }
  
  .starting h1 {
    margin-top:20rem;
    color: #82C17A;
    font-size: 5rem;
      }